@use "../../scss/colors/slate.scss" as slate;
@use "../../scss/mixins.scss" as mixin;

.timecontainer {
  width: 40rem;
  max-width: 80vw;
  padding: 6rem 3rem;
  position: absolute;
  top: 40vh;
  bottom: 50vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 10px;

  @include mixin.flex-center;
  flex-direction: column;
  gap: 1rem;

  background-color: slate.$c0;
  color: slate.$c9;

  p {
    font-weight: 500;
    font-size: 2.5rem;
  }
  
  .tc-timezone {
    color: slate.$c5;
    font-size: 1.2rem;
  }
}